*{
	border: border-box;
	margin: 0;

}
.container{
	display: grid;
	height: 100vh;
	grid-template-rows: 100px auto 50px;
}

.copy{
	display: flex;
	justify-content: center;
}

.navigation{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
}

.small-picture{
	max-height: 100px;
	max-width: 200px;
	object-fit: cover;
}
	
header{
	margin-left: 20px;
}
