<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<title>Game Reviews</title>
</head>
<body>
	<div class="container">

	<header>
		<h1>All Game Reviews</h1>
	</header>
	<main>
		<nav class="navigation">
			<div th:each="review : ${category.reviews}">
				<a th:href="|/review/${review.id}|">
					<h3 th:text="${review.name}"></h3>
					<img class="small-picture" th:src="${review.imageUrl}">
				</a>
			</div>
		</nav>
	</main>
	<footer class="copy">
		<span>&copy; 2018</span>
	</footer>
</div>
</body>
</html>
