<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<title>Game Reviews</title>
</head>
<body>
	<header>
		All Game Reviews
	</header>
	<main>
		<nav>
			<ul>
				<li th:each="review : ${category.reviews}">
					<a th:href="|/review/${review.id}|">
						<h3 th:text="${review.name}"></h3>
						<figure class="small-picture">
							<img th:src="${review.imageUrl}">
						</figure>
					</a>
				</li>
			</ul>
		</nav>
	</main>
	<footer>
		<span>&copy; 2018</span>
	</footer>
</body>
</html>
