<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<title>REVIEWS SITE NAME</title>
</head>
<body>
	<div class="container">

	<header>
		<h1>
			REVIEWS SITE NAME
		</h1>
	</header>
	<main>
		<nav th:each="category : ${categories}">
			<div>
				<a th:href="|/category/${category.id}|">
					<h2 th:text="${category.name}">Category Name</h2>
				</a>
			</div>
		</nav>
	</main>
	<footer class="copy">
		<span>&copy; 2018</span>
	</footer>
</div>
</body>
</html>