<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<title> Video Game REVIEWS</title>
</head>
<body>
	<div class="container">

	<header>
		<h1>
			Video Game reviews
		</h1>

	</header>
	<main class="content">
	<h2>Catigories</h2>
		<nav th:each="category : ${categories}">
			<div>
				<a th:href="|/category/${category.id}|">
					<h3 th:text="${category.name}">Category Name</h3>
				</a>
			</div>
		</nav>
	</main>
	<footer class="copy">
		<span>&copy; 2018</span>
	</footer>
</div>
</body>
</html>